
.card_sig_trn {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
}

.card_sig_trn:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card_sig_trn img {
  border-radius: 5px 5px 0 0;
}

.container_sig_trn {
  padding: 2px 16px;
}


.testimonials_d{
  padding: 40px 0;
  background-image: url("../admission_img/ib.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #434343;
  text-align: center;
  
}
.test_card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  transition: 0.3s;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.inner_d{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding:0 20px;

}
.border_d{
  width: 160px;
  height:5px;
  background: #6ab04c;
  margin:26px auto ;
}
.row_d{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col_d{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial_d{
  background: #fff;
  padding:15px;
  border-radius: 5px;
  font-family: sans-serif;
  height: 490px;
}
.testimonial_d img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name_d{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars_d{
  color:#6ab04c;
  margin-bottom: 20px;
}
@media screen and (max-width: 960px)
{
.col_d{
   flex: 100%;
   max-width: 80%;
}   
}
@media screen and (max-width: 600px)
{
.col_d{
   flex: 100%;
   max-width: 100%;
}   
}

.service-box2 {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .service-box2 {
    margin-bottom: 30px;
  }
}
.service-box2 .service-box-icon {
  margin-bottom: 18px;
}
.service-box2 .service-box-icon a {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  display: block;
  background: #eeeeee;
  line-height: 100px;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.service-box2 .service-box-icon a i {
  color: #002147;
  font-size: 36px;
}
.service-box2 h3 {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 500;
}
.service-box2 h3 a {
  color: #002147;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.service-box2 h3 a:hover {
  color: #fdc800;
}
.service-box2 p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .service-box2 p {
    width: 100%;
  }
}
.service-box2:hover .service-box-icon a {
  background: #fdc800;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
