
.tz-gallery {
    padding: 10px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 5px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
    opacity: 0.9;
}


.tz-gallery img {
    border-radius: 4px;
}
/*
.baguetteBox-button {
    background-color: transparent !important;
}*/

    
.textcaption {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    padding: 10px; /* Some padding */
    font-size: 1.2em;
    text-align: center;
    
  }
  @media(max-width: 1200px) {
    .textcaption{
        top:75%;
        font-size: 1.0em;
    }
  }

@media(max-width: 768px) {
        .textcaption{
            top:80%;
            font-size: 1.0em;
        }
 
}
@media(max-width: 400px) {
    .textcaption{
        top:70%;
        font-size: 0.6em;
    }
  }
