
/* sticky button */	
	

#feedback {
	height: 0px;
	width: 85px;
	position: fixed;
	right: 0;
	top: 50%;
	z-index: 1000;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
 
}


#feedback a {
	display: block;
	background:rgba(6, 59, 109, 0.555);
	height: 52px;
	padding-top: 10px;
	width: 155px;
	text-align: center;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 17px;
	font-weight: bold;
  text-decoration: none;
  border-radius: 5px;

  animation-name: example;
  animation-duration: 1s;
  animation-direction: reverse; 
  animation-iteration-count: infinite;
}



@keyframes example {
  0%   {background-color:rgba(6, 59, 109, 0.555); left:0px; top:0px;}
  50%  {background-color:rgba(246, 175, 65, 0.555); color:black; left:0px; top:0px;}
  100% {background-color:rgba(6, 59, 109, 0.555); left:0px; top:0px;}
}

#feedback a:hover {
	background:#00495d;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon1 {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}



.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .icon1 {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }
  